# Python compile files
*.pyc

# Python Enviroment
.python-version

# Sublime Project files
.anaconda
*.sublime-project
*.sublime-workspace

# Testing files
.cache
.coverage

# Python build files
*.egg-info
dist/
build/

# Experiments
experiments/

